<?xml version="1.0"?>
<config>
    <modules>
        <SomethingDigital_PageCacheUtils>
            <version>0.1.0</version>
        </SomethingDigital_PageCacheUtils>
    </modules>

    <global>
        <blocks>
            <sd_pagecacheutils>
                <class>SomethingDigital_PageCacheUtils_Block</class>
            </sd_pagecacheutils>
        </blocks>
        <models>
            <sd_pagecacheutils>
                <class>SomethingDigital_PageCacheUtils_Model</class>
            </sd_pagecacheutils>
        </models>
        <helpers>
            <sd_pagecacheutils>
                <class>SomethingDigital_PageCacheUtils_Helper</class>
            </sd_pagecacheutils>
        </helpers>
    </global>
</config>
